body {
    font-family: sans-serif;
    font-size: 1rem;
}

button {
    all: unset;
    display: inline-block;
    border-radius: 8px;
    border: 2px solid white;
    padding: 2px;
}

button:hover {
    background-color: red;
}
