:root {
    --fg: rgb(100, 150, 255);
    --bg: rgb(25, 25, 25);
    --bg-hover: rgb(45, 45, 45);
}

html {
    background-color: transparent;
}

body {
    background-color: transparent;
}

pane-address-bar {
    background-color: goldenrod;
}

pane-address-bar form {
    background-color: red;
    display: flex;
}

pane-address-bar input {
    flex: auto;
    background-color: var(--bg);
    color: var(--fg);
    border: 0;
    outline: 0;
    padding: 0.2rem;
}

pane-address-bar input:focus {
    box-shadow: 0 1px 0 0 var(--fg);
}

pane-address-bar input:hover {
    background-color: var(--bg-hover);
}

pane-address-bar button {
    background-color: var(--bg);
    color: var(--fg);
    border: 0;
    padding: 0.2rem;
}

pane-address-bar button:hover {
    background-color: var(--bg-hover);
}
