:root {
    --bg-color: rgb(25, 25, 25);
    --bg-hover: rgb(45, 45, 45);
}

body {
    background-color: black;
    display: flex;
}

pane-address-bar {
    display: flex;
    flex: auto;
}

pane-address-bar input {
    background-color: var(--bg-color);
    border: 0;
    outline: 0;
    flex: auto;
    padding: 0.2rem;
}

pane-address-bar input:focus {
    box-shadow: 0 1px 0 0 blue;
}

pane-address-bar input:hover {
    background-color: var(--bg-hover);
}

pane-button {
    flex: 0 0 auto;
}

pane-button button {
    background-color: var(--bg-color);
    border: 0;
    padding: 0.2rem;
}

button:hover {
    background-color: var(--bg-hover);
}
